<%= form_with model: @box do |form| %>
  <fieldset>
    <%= form.label :number, "Nummer" %>
    <%= form.number_field :number, pattern: "[0-9]*", value: @next_number || box.number %>
    <% @box.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= form.label :packed_by, "Packad av" %>
    <%= form.select :packed_by, ["-"] + potential_packers, selected: box.packed_by || "-" %>
    <% @box.errors.full_messages_for(:packed_by).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= form.label :title, "Titel" %>
    <%= form.text_field :title %>
    <% @box.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= form.label :room, "Rum" %>
    <%= form.select :room, Box.rooms + ["Välj..."], selected: box.room || "Välj..." %>
    <% @box.errors.full_messages_for(:room).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= form.label :description, "Innehåll" %>
    <%= form.text_area :description, size: "70x10" %>
    <% @box.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= form.label :files, "Filer" %>
    <%= form.file_field :files, multiple: true %>
  </fieldset>

  <% if @box.box_files.any? %>
    <fieldset>
      <p>Bifogade filer:</p>
      <% @box.box_files.each do |file| %>
        <div>
          <%= file.filename %> -
          <%= link_to "Ta bort", box_box_file_path(@box, file),
                      data: { turbo_method: :delete, turbo_confirm: "Ta bort #{file.filename}?" } %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <div>
    <%= form.submit "Spara kartong" %>
  </div>

  <% if defined?(edit) && edit %>
    <p>
      <%= link_to "Tillbaka", :back %>
    </p>
    <p>
      <%= link_to "Ta bort", box_path(@box), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
    </p>
  <% end %>
<% end %>
