<p>
  Totalt <strong><%= @boxes.count %></strong> kartonger
  •
  <%= link_to "Ladda hem CSV export", boxes_url(format: :csv) %>
</p>
<table class="striped">
  <thead>
    <tr>
      <th scope="col">Nummer</th>
      <th scope="col">Rum</th>
      <th scope="col">Titel</th>
      <th scope="col">Innehåll</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <th scope="row" style="white-space: nowrap">
          <%= link_to "Kartong #{box.number}", box_path(box) %>
        </th>
        <td><%= box.room %></td>
        <td><%= box.title %></td>
        <td>
          <details>
            <summary><%= box.truncated_description %></summary>
            <pre><%= box.description %></pre>
          </details>

        </td>
        <td>
          <%= link_to "✏️", edit_box_path(box) %>
        </td>
        <td>
          <%= link_to "🗑️", box_path(box), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %>
      </tr>
    <% end %>
  </tbody>
</table>
