<p>
  Totalt <strong><%= @boxes.count %></strong> kartonger
  •
  <% potential_packers.each_with_index do |packer, idx| %>
    <%= packer %>
    <%= Box.count_by(:packed_by, packer) %>
    📦
  <% end %>
  •
  <%= link_to "#{@unpack_count} uppackade", actions_url %>
  <br>
  <small class="pico-color-zinc-500">
    <% @count_by_room.each_with_index do |(room, count), idx| %>
      <%= "#{room}:" %>
        <%= count %>
        <% unless idx + 1 == @count_by_room.size %>
          ✧
        <% end %>
    <% end %>
  </small>
</p>
<table class="striped">
  <colgroup>
    <col style="width: 1%;">
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 90%;">
    <col style="width: 1%;">
    <col style="width: 1%;">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">
        <span title="Uppackad?">☑️</span>
      </th>
      <th scope="col">Nummer</th>
      <th scope="col">Rum</th>
      <th scope="col">
        <%= link_to "Innehåll", "javascript:void(0)", data: { action: "details#toggleOpen" } %>
      </th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td data-selector="box-action">
          <% if box.unpacked? %>
            <%= form_with(url: box_action_path(box.id, box.unpack_action), method: :delete) do |form| %>
              <%= form.checkbox "box-action-#{box.id}",
                                checked: true,
                                include_hidden: false,
                                onchange: "this.form.requestSubmit()",
                                data: {
                                  turbo_method: :delete,
                                }
              %>
            <% end %>
        <% else %>
            <%= form_with(url: box_actions_path(box.id)) do |form| %>
              <%= form.hidden_field :action_name, value: "unpack" %>
              <%= form.hidden_field :user, value: current_user %>
              <%= form.checkbox "box-action-#{box.id}",
                                checked: false,
                                include_hidden: false,
                                onchange: "this.form.requestSubmit()",
                                data: {
                                  turbo_method: :post,
                                }
              %>
            <% end %>
        <% end %>
        </td>
        <th scope="row" style="white-space: nowrap">
          <%= link_to "Kartong #{box.number}", box_path(box) %>
          <br>
          <small>
            <small>
              <%= box.packed_by %>
            </small>
          </small>
        </th>
        <td><%= box.room %></td>
        <td>
          <details>
            <summary>
              <strong><%= box.title %></strong>
            </summary>
            <pre style="white-space: pre-wrap"><%= box.description %></pre>
          </details>

        </td>
        <td>
          <%= link_to "✏️", edit_box_path(box) %>
        </td>
        <td>
          <%= link_to "🗑️", box_path(box), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %>
      </tr>
    <% end %>
  </tbody>
</table>
