<h1>New Box</h1>

<%= form_with model: @box do |form| %>
  <div>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :room %><br>
    <%= form.text_field :room %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
