<table>
  <tbody>
    <tr>
      <th scope="col">Nummer</th>
      <th scope="row"><%= @box.number %></th>
    </tr>
    <tr>
      <td scope="col">Rum</th>
      <td scope="row" width="90%"><%= @box.room %></th>
    </tr>
    <tr>
      <th scope="col">Titel</th>
      <th scope="row"><%= @box.title %></th>
    </tr>
    <tr>
      <th scope="col" vertical-align="top">Innehåll</th>
      <th scope="row">
        <pre><%= @box.description %></pre>
      </th>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Ändra", edit_box_path(@box) %>
  eller
  <%= link_to "Ta bort", box_path(@box), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
</p>
