<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kartonger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :pico %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">

    <% if flash[:notice] %>
      <mark class="notice"><%= flash[:notice] %></mark>
    <% end %>

    <% if flash[:alert] %>
      <mark class="notice"><%= flash[:alert] %></mark>
    <% end %>

    <% if flash[:error] %>
      <mark class="notice"><%= flash[:error] %></mark>
    <% end %>

    <hgroup>
      <h1>
        <%= link_to "Kartonger", root_path %>
      </h1>
      <p>
        <% if logged_in? %>
          Inloggad som <strong><%= current_user %></strong> <small>📦</small>
          Lägg till en <%= link_to "ny kartong", new_box_path %> <small>📦</small>
          <%= link_to "Logga ut", logout_path, data: { turbo_method: :delete } %>
        <% end %>
      </p>
    </hgroup>

    <%= yield %>

    </main>
  </body>
</html>
